extends layout 

block  content 
   header 
     h1= "Message Board"
     p= "speak free to the world"

   main 
      section.form-container
        form(method="post",action="/new") 
          input(type="text",placeholder="username" ,name="user")
          input(type="text",placeholder ="message" ,name="messageText")
          button(type="submit",action='/new',id="dubmit-btn")= "submit"
